*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #F5F8FF;
}

p{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.507);
}

.container{
    max-width: 1140px;
    margin: auto;
}

/* NAV Section */

header>nav{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

header>nav>div{
    max-width: 135px;
    height: auto;
}

header>nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 48px;
}

header>nav>ul>li>a{
    text-decoration: none;
    color: #8987A1;
}

header>nav>ul>li>i{
    padding-right: 10px;
}

.active{
    color: #252432;
    font-weight: 700;
    font-size: 1rem;
}
.active2{
    color: #252432;
    font-weight: 400;
    font-size: 1rem;
}

.hero_section{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 100px;
}

.hero_section>div>h1{
    font-size: 4.1rem;
    font-weight: 700;
}
.highlight{
    color: #E95A08;
}
.hero_section>div>p{
    width: 570px;    
}

/* our Plants */
.our_plants{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.plants_title{
    padding-bottom: 49px;
}
    
.plants_title>h3{
    font-size: 3.1rem;
    padding-bottom: 16px;
}
.plants_title>p{
    max-width: 888px;
}

.flower_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}

.card img, .card h4{
    padding-bottom: 30px;
}
.card h3{
    padding-bottom: 30px;
    font-size: 1.3rem;
    font-weight: 500;
}
.card h4{
    font-size: 1.3rem;
    font-weight: 700;

}

.card>button{
    padding: 15px 0px;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
}

/* Trusted Section */
.trusted_section{
    display: flex;
    padding-top: 250px;
    justify-content: space-between;
    align-items: center;
}

.trusted_img{
    position: relative;
}

.trusted_badge{
    position: absolute;
    width: 50%;
    height: auto;
    left: 98%;
    top: 4%;
    transform: translate(-50%, -50%);
}

.trusted_content{
    padding-left: 62px;
    
}

.trusted_content h2{
    font-size: 3.1rem;
    font-weight: 700;
    padding-bottom: 20px;
    
}

.trusted_content ul{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.507);
    
}
.trusted_content ul li{
    padding-bottom: 20px;
    text-align: justify;    
}

/* Deals Section */
.deals_section{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
}

/* deals galary */

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 28px;
    row-gap: 25px;
}

.gallary_card{
    position: relative;
}
.gallary_card img{
    display: block;
}
/* Blakish Overlay */
.gallary_card::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.507);
   z-index: 1;
}


.gallary_card .gallary_content{
    position: absolute;
    inset: 0;
    z-index: 2;
    color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
   
}

.gallary_content h3{
    font-size:1.3rem ;
    
}
.gallary_content .bold{
    font-size: 2.3rem;
    font-weight: 700;
}
.gallary_content .bold2{
    font-size: 1.8rem;
    font-weight: 600;
}

.gallary_content span{
    font-size:1rem ;
    text-decoration: underline;
    
}

.gallery .gallary_card:nth-child(2){
    grid-column: span 2;
    grid-row: span 2;   
}

